/* 
    Document   : main
    Created on : 08.01.2013, 17:29:15
    Author     : DeviD
    Description:
        Purpose of the stylesheet follows.
*/

html { 
    background: #000;
}
.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url(../i/sky/Nebula_Effects_Fractal_Stock_by_ineedfire.jpg) no-repeat;
    background-size: 100% 100%;
    opacity: .1;
    z-index: 1;
}
html, body, div { margin: 0; padding: 0;}
canvas { margin: 0 auto; padding: 0; z-index: 10; position: relative;}